.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 35em;
    height: 100%;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    font-size: 1.1em;
}
